<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count = "9">
<parameter name = "URL" value = "qaclickacademy.com"/>
    <test name="Personal Loan">
    <parameter name = "URL" value = "personalLoan"/>
    <parameter name = "APIKey/userName" value  = "123456"/>
    <classes>
      	<class name="Test.day1"/>
      	<class name="Test.day2"/>
      	<class name="Test.day4"/>
    </classes>
  	</test> 
  
    <test name="Car Loan">
    <parameter name = "URL" value = "carLoan"/>
    <parameter name = "APIKey/userName" value  = "123456"/>
    <classes>
    	<class name="Test.day3"/>
    </classes>
  </test>    

</suite> 
